<div class="ui segments">
  <div class="ui segment">
    <h3><%= board.title %></h3>
    <% board.tags.each do |tag|%>
      <p class="ui blue header"><%= tag.name %></p>
    <% end %>
  </div>
  <div class="ui secondary segment row" >
    <div class="ui grid">
      <div class="sixteen wide column">
        <p><%= simple_format(board.body) %></p>
      </div>
      <div class="sixteen wide column">
        <p class="ui aligned right header"><%= board.name %></p>
      </div>
    </div>
  </div>
</div>